<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
<div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
    <div class="portfolio-section">
      <h2 class="h2 fw-light mb-4">Some of the projects</h2>
      <div class="row g-0">
        <div class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid" src="assets/detective cat.png" width="800" height="500"/></a></div>
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small">Machine Learning, Computer Vision, YOLO, Python</p>
            <h3>Yolo Detective, the Python Library</h3>
            <p class="text-muted">I'm currently in the process of developing a Python library that aims to streamline the training and utilization of Yolo models for detecting objects. This comprehensive library will combine and wrap all essential components, making it easier than ever to work with Yolo for various computer vision tasks with one Python class.</p>
          </div>
        </div>
      </div>
      <div class="row g-0 portfolio-reverse">
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <div class="m-4 mt-md-2 text-end">
            <p class="text-teal text-small">Pose Estimation, Computer Vision, Python, MediaPipe, Kivy</p>
            <h3>Sretenje Homage CV Project</h3>
            <p class="text-muted">Utilizing Python, the Mediapipe library, and mathematical algorithms, my Sretenje computer vision project pays homage to the Serbian national holiday. Main functionalities are playing the Serbian national anthem and applying a Serbian-themed image filter when it detects a user showing three fingers or the peace sign on camera. I have also built android app, developed with the Kivy library.
              I tried to combine cutting-edge technology with cultural significance.
            </p>
          </div>
        </div>
        <div class="col-md-6"><a href="https://www.behance.net/" target="_blank"><img class="img-fluid" src="assets/serbian cat 23.png" width="800" height="500"/></a></div>
      </div>
      <div class="row g-0">
        <div class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid" src="assets/robot balancing glasses 3.png" width="800" height="500"/></a></div>
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small">Machine Learning, YOLO, Python, OpenCV</p>
            <h3>Computer Vision for Robots</h3>
            <p class="text-muted">
              I developed a computer vision system for robots, designed for object recognition and localization. This involved the creation of a custom YOLO v3 convolutional neural network, where I made the entire pipeline, from capturing images for the dataset and labeling them to training the model, testing, and integrating robots software. I used also OpenCV and Python in general for various aspects of the project.
              <br>
              The primary goal of this system was to find cup-like objects within diverse scenarios. Furthermore, I was working on algorithms for robot movements based on the location of these cups.
              <br>
              In addition to this project, I also wrote my bachelor's thesis "Application of convolutional neural networks for object detection in robotics".</p>
          </div>
        </div>
      </div>
      <div class="row g-0 portfolio-reverse">
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <div class="m-4 mt-md-2 text-end">
            <p class="text-teal text-small">Computer Vision, YOLO, Python, Translation models</p>
            <h3>Steve the translator</h3>
            <p class="text-muted">Andoid app for translating restaurant menus. System for taking photo of a menu, finding areas with text, extracting text, translating text and returing it back to original photo</p>
          </div>
        </div>
        <div class="col-md-6"><a href="https://www.behance.net/" target="_blank"><img class="img-fluid" src="https://github.com/pretty-neat-org/steve-translator/raw/main/2165.jpg" width="800" height="500"/></a></div>
      </div>
      <div class="row g-0">
        <div class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid" src="assets/apartman.jpg" width="800" height="500"/></a></div>
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
          <div class="m-4 mt-md-2">
            <p class="text-teal text-small">Backend, Frontend, Java, Angular, MySQL</p>
            <h3>Renting Apartments Website</h3>
            <p class="text-muted">Built full stack website for renting apartments. All functionalities are based on rule-based rules and with high level of data security. <br>Some of those functionalities are registration, login, adding apartments, editing and deleting them, displaying apartments, searching, sorting, booking, sending messages and comments.</p>
          </div>
        </div>
      </div>
      <div class="row g-0 portfolio-reverse">
        <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          <div class="m-4 mt-md-2 text-end">
            <p class="text-teal text-small">Angular, Netlify, Porkbun</p>
            <h3>dusanblanusa.com</h3>
            <p class="text-muted">Personal website project in form of extened CV.
              <br>Current version in entirely frontend made in Angular. I bought a domain from Porkbun and hosting website on Netlify.
              <br>This project started as one of the new-years plans for the 2023, to make and deploy website where I will show some of my projects and photographs and to share a bit of passion for AI, Computer Vision and Data Science.
            </p>
          </div>
        </div>
        <div class="col-md-6"><a href="https://www.behance.net/" target="_blank"><img class="img-fluid" src="assets/db website.PNG" width="800" height="500"/></a></div>
      </div>
    </div>
  </div>
</html>