<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<h1>Sajt je trenutno u izradi, a kada ce biti gotov ne znam ni sam <i class="bi bi-emoji-smile"></i></h1>
<div class="container">
  <div class="row">
    <div class="span2">
      <img src="assets/dusan.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Dušan Blanuša</p>
        <small><cite title="Source Title">Novi Sad, Serbia<i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> dusan@dusanblanusa.com <br>
        <i class="icon-globe"></i> ig: dusan_blanusa <br>
        <i class="icon-gift"></i> January 19, 1998
      </p>
    </div>
 

  </div>
</div>