<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body class="bg-light" id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix">
          <h1 class="site-title mb-0">Dušan Blanuša</h1>
          <div class="site-nav"> 
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Skills</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span class="menu-title">Experience</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span class="menu-title">Education</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/projects" title="Portfolio"><span class="menu-title">Projects</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#references" title="References"><span class="menu-title">Additional Interests</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#contact" title="Contact"><span class="menu-title">Contact</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/photography" title="Contact" style="color: rgb(0, 38, 255);"><span class="menu-title">Photography</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="resume-container">
  <div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
      <div class="cover bg-image"><img src="assets/sunrise-4.jpg"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(0px);">
          <div class="text-center p-5">
            <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="assets/dusan.jpg" width="160" height="160"/></div>
            <div class="header-bio mt-3">
              <div data-aos="zoom-in" data-aos-delay="0">
                <h2 class="h1">Dušan Blanuša</h2>
                <p>Machine Learning / Data Science Engineer</p>
              </div>
              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/dusan-blanusa" title="Twitter"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Twitter</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/dusan_blanusa" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/dusankg" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                  </ul>
                </nav>
              </div>
              <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="assets/CV Dusan Blanusa.pdf" data-aos="fade-right" data-aos-delay="700">Download CV</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-question-answer></app-question-answer>
  <div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h2 fw-light mb-4">About Me</h2>
          <p>Hello! <br/>I’m Dušan Blanuša, <strong>Python/Data Science engineer</strong> with over 4 years of research in a field of <strong>Artificial intelligence</strong> and <strong>Data Science</strong>.</p>
          <p>Having strong knowledge in Machine Learning, Data Science, Natural Language Processing and Computer Vision.</p>
          <p>I have proven experience developing in Python and Java programming languages while working on various projects and working in a distributed team environment, following Agile/SCRUM methodology.</p>
          <p>I am professional with strong analytical and problem-solving skills, eager to learn new skills and grow professionally.</p>
          <p>Motivated, supportive and communicative team player with a proactive attitude.</p>
        </div>
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Bio</h2>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Age</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">26</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">dusan@dusanblanusa.com</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fab fa-skype pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Skype</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">dule98kg@skype.com</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Phone</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">+381645763494</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Address</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">Novi Sad, Srbija</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Programming Skills</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3"><span class="fw-bolder">Programming languages</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Python, Java, JS</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Artificial Intelligence technologies</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">OpenCV, Keras, Tensorflow, NLTK, NLP, OCR, Spacy</div>
            </div>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Scikit-learn, Gensim, Yolo, Keras, Pandas, Evolutionary Algorithms</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Data Science</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right" data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Classification models, TF-IDF, Word2vec, Lemmatizing, Tokenization, Pandas</div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="mb-3"><span class="fw-bolder">Back-End technologies</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Java Spring, Java Hibernate, Flask, FastAPI, Kafka</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Front-End technologies</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Angular, Vue.js, jQuery, Bootstap, HTML, CSS</div>
            </div>
          </div>
          <div class="mb-3"><span class="fw-bolder">Database</span>
            <div class="progress my-2 rounded" style="height: 20px">
              <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Oracle, MySQL, PostgreSQL, MongoDB</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
      <h2 class="h2 fw-light mb-4">Work Experience</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Python/Machine Learning Engineer <span class="text-muted h6">at Synechron</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Apr, 2021 - Present</div>
            <div>Developing Machine Learning, Data Science and Natural Language Processing solutions and pipelines</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Robotics and Computer Vision Specialist <span class="text-muted h6">at Memristor Robotics</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Oct, 2018 - Feb, 2021</div>
            <div>I was working as programmer at Memristor Robotics on computer vision and robots movement using Python.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Artificial Intelligence Intern <span class="text-muted h6">at Synechron</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Sep, 2020 - Nov, 2020</div>
            <div>I was developing chat bots and recommendation systems as part of internship.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Editor <span class="text-muted h6">at eMobilnost.rs</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Jan, 2018 - Sep, 2019</div>
            <div>I wrote professional articles on the topics of electric cars and autonomous driving.</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Teaching assistant<span class="text-muted h6">at Faculty of Technical Sciences, University of Novi Sad</span></div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div class="text-muted text-small mb-3">Oct, 2018 - Jul, 2019</div>
            <div>I was teaching assistant for two semesters on courses "Object oriented programming" and "Real-Time Software Systems".</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Masters in Information Technology <span class="text-muted h6">from Faculty of Technical Sciences, University of Novi Sad</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>Artificial Intelligence Masters</div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
          <div class="timeline-head px-4 pt-3">
            <div class="h5">Bachelor of Computer Science <span class="text-muted h6">from Faculty of Technical Sciences, University of Novi Sad</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-4">
            <div>Bachelor's degree with honours in Computer and Information Sciences</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-projects></app-projects>

  <div class="shadow-1-strong bg-white my-5 p-5" id="references">
    <div class="reference-section">
      <h2 class="h2 fw-light mb-4" >Additional Interests</h2>
      <div class="row"> 
        <div class="col-md-6">
          <div class="d-flex mb-2">
            <div class="header-bio m-3 mb-0">
              <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0" style="color: blue;">Photography</h3>
            </div>
          </div>
          <div class="d-flex"><i class="text-secondary fas"></i>
            <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">I have been doing photography since high school. Capturing travels, nights, portraits, sunsets, sunrises, nature. I was also semi professional wedding photographer.
              <br> With that comes my knowledge in Adobe Photoshop and Adobe Lightroom.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex mb-2">
            <div class="header-bio m-3 mb-0">
              <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0" style="color: blue;">Road Trips</h3>
            </div>
          </div>
          <div class="d-flex"><i class="text-secondary fas"></i>
            <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">Road trips combine my love for cars, travel, photography, nature and adventures for a long time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
          <div class="mt-1">
            <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> +381645763494</div>
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> dusan@dusanblanusa.com</div>
          </div>
          <div class="mt-5 d-print-none"><form action="https://formspree.io/your@email.com"
    method="POST">

</form>
          </div>
        </div>
        <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44925.233048124945!2d19.81442171316228!3d45.271506453164704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b10613de93455%3A0xb6f7d683724fe28!2sNovi%20Sad!5e0!3m2!1sen!2srs!4v1680097517645!5m2!1sen!2srs" width="500" height="400" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe></div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">Dušan Blanuša</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/dusan-blanusa" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/dusan_blanusa" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/dusankg" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">
          <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
          <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        </div>
      </div>
    </footer>
    <script src="assets/scripts/mdb.min.js?ver=1.2.1"></script>
    <script src="assets/scripts/aos.js?ver=1.2.1"></script>
    <script src="assets/scripts/main.js?ver=1.2.1"></script>
  </body>
</html>
