<div class="question-answer-container">
  <h1>Hello friend</h1>

  <div class="input-container">
    <label for="question">I'm Dušans virual version. <br>He told me that I can represent him, ask me something:</label>
    <input type="text" id="question" [(ngModel)]="question" class="question-input">
    <button (click)="getAnswer()" class="submit-button">Submit</button>
  </div>

  <div *ngIf="response" class="response-container">
    <p class="response-text">{{ response }}</p>
    <p class="disclaimer">Disclaimer: The answers are provided by chatbot and may not be 100% accurate.</p>
  </div>
</div>